apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: sreeja026/travel-mongo-image:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage      # matched name
              mountPath: /data/db
      volumes:
        - name: mongo-storage          # matched name
          persistentVolumeClaim:
            claimName: mongo-pvc
